[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = "*"
flake8 = "*"
mypy = "*"
yapf = "*"

[packages]
torch = "==1.2.0"
torchvision = "==0.4.0"
torchmeta = "*"
qpth = "*"
cvxpy = "*"

[requires]
python_version = "3.6"

[scripts]
train = "python -m meta_occc.train"
evaluate = "python -m meta_occc.evaluate"
