certifi==2019.11.28
chardet==3.0.4
cvxpy==1.0.29
dill==0.3.1.1
ecos==2.0.7.post1
future==0.18.2
h5py==2.9.0
idna==2.9
joblib==0.14.1
multiprocess==0.70.9
numpy==1.18.2
osqp==0.6.1
Pillow==7.1.0
pkg-resources==0.0.0
qpth==0.0.15
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
scs==2.1.2
six==1.14.0
torch==1.4.0
torchmeta==1.4.0
torchvision==0.5.0
tqdm==4.45.0
urllib3==1.25.8
